.cards {
    display: flex;
    justify-content: space-between;
    margin: 5em 0;

    .cards__card {
        border: 1px solid black;
        width: 521px;
        
        div {
            padding: 2em;

            p {
                padding-bottom: 2em;
            }
        }
    }
}