html {
    font-size: 62.5%;

    @media (max-width: 750px) {
        font-size: 55%;
    }

    @media (max-width: 500px) {
        font-size: 46%;
    }
}

body {
    max-width: 1200px;
    margin: 0 auto;
    line-height: 36px;
}

img {
    width: 100%;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 4rem;
}

p, li, h3, h4, a, button {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 3.2rem;
}

p, li, h4 {
    font-size: 2.4rem;
}

button {
    font-size: 1.6rem;
}

span a {
    font-size: 2.1rem;
}

h2, h3, h4, a, button, li::before {
    color: $titleColor;
}

p, li {
    color: $fontColor;
}

li::before {
    padding-right: .5em;
}

ul, ol {
    list-style: none;
}