.lists {
    display: flex;
    justify-content: space-between;
    

    @media (max-width: 1220px) {
        flex-direction: column;
        align-items: center;
    }

    .lists__title {
        width: 305px;
        font-weight: 400;

        @media (max-width: 1220px) {
            margin-bottom: 1em;
        }
    }

    .lists__content {
        width: 721px;

        @media (max-width: 750px) {
            width: 95%;
        }

        h3 {
            font-weight: 500;
            padding-top: 3em;
        }

        p, li {
            font-weight: 400;
        }

        a {
            text-decoration: none;
            color: #171717;
            border-bottom: 2px solid $accentColor;
            transition: 0.3s;

            &:hover, &:focus {
                border-bottom: 2px solid white;
                color: $accentColor;
            }
        }

        li {
            padding: .3em 0;
        }

        ul {
            padding: 0;

            li::before {
                content: "•";
            }

            ul {
                padding-left: 2em;

                li::before {
                    content: "-";
                }

                ul {
                    li::before {
                        content: "◦";
                    }
                }
            }
        }

        ol {
            counter-reset: li;
            padding: 0;

            li::before {
                content: counter(li)".";
                counter-increment: li;
            }

            ol {
                padding-left: 3em;
                
                li::before {
                    content: "a.";
                }

                ol {
                    li::before {
                        content: "i.";
                    }
                }
            }
        }

        button {
            border: 1px solid $borderColor;
            border-radius: 4px;
            padding: 1em 2em;
            background: white;
            font-weight: 500;
            text-transform: uppercase;
            margin: 3em 1em;
            transition: 0.3s;

            &:hover, &:focus         {
                color: white;
                background: $accentColor;
                border: 1px solid $accentColor;
            }
        }
    }
}