@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h2, h3, h4, p, a, li, button, img {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media (max-width: 750px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 46%;
  }
}

body {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 36px;
}

img {
  width: 100%;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 4rem;
}

p, li, h3, h4, a, button {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 3.2rem;
}

p, li, h4 {
  font-size: 2.4rem;
}

button {
  font-size: 1.6rem;
}

span a {
  font-size: 2.1rem;
}

h2, h3, h4, a, button, li::before {
  color: #003B4D;
}

p, li {
  color: #171717;
}

li::before {
  padding-right: .5em;
}

ul, ol {
  list-style: none;
}

header {
  border-bottom: 3px solid black;
  margin: 5em 0;
  color: #00333C;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1220px) {
  .lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.lists .lists__title {
  width: 305px;
  font-weight: 400;
}

@media (max-width: 1220px) {
  .lists .lists__title {
    margin-bottom: 1em;
  }
}

.lists .lists__content {
  width: 721px;
}

@media (max-width: 750px) {
  .lists .lists__content {
    width: 95%;
  }
}

.lists .lists__content h3 {
  font-weight: 500;
  padding-top: 3em;
}

.lists .lists__content p, .lists .lists__content li {
  font-weight: 400;
}

.lists .lists__content a {
  text-decoration: none;
  color: #171717;
  border-bottom: 2px solid #1D8751;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lists .lists__content a:hover, .lists .lists__content a:focus {
  border-bottom: 2px solid white;
  color: #1D8751;
}

.lists .lists__content li {
  padding: .3em 0;
}

.lists .lists__content ul {
  padding: 0;
}

.lists .lists__content ul li::before {
  content: "•";
}

.lists .lists__content ul ul {
  padding-left: 2em;
}

.lists .lists__content ul ul li::before {
  content: "-";
}

.lists .lists__content ul ul ul li::before {
  content: "◦";
}

.lists .lists__content ol {
  counter-reset: li;
  padding: 0;
}

.lists .lists__content ol li::before {
  content: counter(li) ".";
  counter-increment: li;
}

.lists .lists__content ol ol {
  padding-left: 3em;
}

.lists .lists__content ol ol li::before {
  content: "a.";
}

.lists .lists__content ol ol ol li::before {
  content: "i.";
}

.lists .lists__content button {
  border: 1px solid #85989E;
  border-radius: 4px;
  padding: 1em 2em;
  background: white;
  font-weight: 500;
  text-transform: uppercase;
  margin: 3em 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lists .lists__content button:hover, .lists .lists__content button:focus {
  color: white;
  background: #1D8751;
  border: 1px solid #1D8751;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 4em;
}

@media (max-width: 1250px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cards .cards__card {
  border: 1px solid #85989E;
  width: 521px;
  height: 730px;
  display: -ms-grid;
  display: grid;
  margin-bottom: 4em;
  position: relative;
}

.cards .cards__card .bonus {
  background: #1D8751;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cards .cards__card .bonus h4 {
  font-size: 4rem;
  text-align: center;
  padding-top: 70%;
}

.cards .cards__card:hover .bonus {
  opacity: 1;
}

.cards .cards__card .card__inner {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 570px) {
  .cards .cards__card {
    width: 90%;
  }
}

.cards .cards__card div {
  padding: 1em 3em;
}

.cards .cards__card div h4 {
  font-weight: 700;
  padding-bottom: 1.5em;
}

.cards .cards__card div p {
  padding-bottom: 2em;
}

.cards .cards__card div a {
  text-decoration: none;
  size: 21px;
  position: relative;
}

.cards .cards__card div a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -7.5px;
  background-color: #1D8751;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: .5s;
  transition: .5s;
}

.cards .cards__card div a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #1D8751;
  opacity: 50%;
  bottom: -7.5px;
  left: 0;
}

.cards .cards__card div a:hover::before, .cards .cards__card div a:focus::before {
  width: 0;
}
